<ul class="nav">
    <li class="nav-item">
      <a class="nav-link " routerLink='home' routerActivelink = "active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/about' routerActivelink = "active">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='contact' routerActivelink = "active">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink='gallery' routerActivelink = "active">Gallery</a>
    </li>
  </ul>