<h1>Home</h1>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/assets/eistein.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Albert Einstein</h5>
          <p class="card-text">Albert Einstein was a German-born theoretical physicist, 
              widely acknowledged to be one of the greatest physicists of all time. 
              Einstein is best known for developing the theory of relativity, but he also made important 
              contributions to the development of the theory of quantum mechanics</p>

          <a routerLink= '/about' class="btn btn-primary">Find More</a>
        </div>
    </div>

